body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}
.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  font-family: 'Mulish', sans-serif;

}
ul{
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;

}
ul li a {
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
}
ul li a:hover {
  font-weight: bold;
  opacity: 1;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
}
h1 span {
  color: #89C5CC;
  font-weight: bold;
}
section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0;
}
button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  background-color: #69B99D;
  padding: 14px 32px 15px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #30926f;

}
footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}
footer a:visited {
  color: #000;
}
#balls {
  float: right;
}